<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.cktext_area :content, ckeditor: {:toolbarStartupExpanded => false, :toolbarCanCollapse => false, :toolbar => 'nomenu', :language => 'ko', contentsCss: asset_path("ckeditor/content-style.css"), height: '200px'} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>



