<p id="notice"><%= notice %></p>


<% @orders.each do |order| %>

<table>
  <thead>
    <tr>
      <td>key</td>
      <td>value</td>
    </tr>
  </thead>
  <tbody>
    <% for attribute in order.attributes.keys %>
    <tr>
      <td><%= attribute.humanize %> </td>
      <td><%= order.attributes[attribute].to_s %></td>
    </tr>
    <% end %>
    <tr>
      <td>
        <%= link_to 'Show', order %>
        <%= link_to 'Edit', edit_order_path(order) %>
        <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  </tbody>
</table>

<hr>
<hr>

<% end %>

<h1 class="title">
  <%= link_to 'New Order', new_order_path %>
</h1>
