<p id="notice"><%= notice %></p>

<% @schools.each do |school| %>

<table>
  <thead>
    <tr>
      <td>key</td>
      <td>value</td>
    </tr>
  </thead>
  <tbody>
    <% for attribute in school.attributes.keys %>
    <tr>
      <td><%= attribute.humanize %> </td>
      <td><%= school.attributes[attribute].to_s %></td>
    </tr>
    <% end %>
    <tr>
      <td>
        <b><%= link_to 'Show', school %></b>
        <b><%= link_to 'Edit', edit_school_path(school) %></b>
        <b><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></b>
      </td>
    </tr>
  </tbody>
</table>

<hr>
<hr>
<hr>


<% end %>

<h1 class="title"><%= link_to 'New School', new_school_path %></h1>











