<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <td>key</td>
      <td>value</td>
    </tr>
  </thead>
  <tbody>
    <% for attribute in @school.attributes.keys %>
    <tr>
      <td><%= attribute.humanize %></td>
      <td><%= @school.attributes[attribute].to_s %></td>
    </tr>
    <% end %>
    <tr>
      <td>
      <%= link_to 'Edit', edit_school_path(@school) %> |
      <%= link_to 'Back', schools_path %>
      </td>
      
    </tr>
  </tbody>
</table>


