<main class="app-content">
    <div class="is-gapless">
        <section class="hero section is-hero is-halfheight has-background-white">
            <div class="columns ">
                <div class="column is-6 is-5-fullhd is-offset-1-fullhd">
                    <div class="section-header">
                    <div style="padding-top: 1em"></div>
                        <h2 class="title is-2 is-spaced has-text-grey-darker">나의연수 진행사항<span class="spacer is-horizontal is-05"></span></h2>
                    </div>

                    <div style="padding-top: 2em"></div>
                    <div>
                        <p>유학원과 비교해서 가장 좋은 조건으로, 연수진행을 도와드립니다. 진행상황을 확인하실수 있으며, 연수시작부터 끝까지 일어나는 문제에 대한 해결책들을 안내해 드립니다.</p>
                    </div>
                    <div style="padding-top: 2em"></div>

                    <% if @order %>

                            <% if @order.course_id %>
                            
                                    <% @course = Course.find(@order.course_id) %>
                                        <div>
                                            <label><b>내 등록 어학원 정보 - <%= @course.get_name %></b></label>
                                        </div>
                                        <div class="has-text-primary"><b>진행사항 : <%= @order_confirm.status %></b></div>
                                        <div style="padding-top: 1em"></div>
                                    
                                        <% @school = School.find(@course.school_id) %>
                                            <div>
                                                <p>
                                                    <%= @school.location %>
                                                </p>
                                                <p>
                                                    <%= @school.size %>
                                                </p>
                                                <p>한반 평균인원수 :
                                                    <%= @school.classsize %>
                                                </p>
                                                <p>인증 :
                                                    <%= @school.certificate %>
                                                </p>
                                                <p>학원주소 :
                                                    <%= @school.address %>
                                                </p>
                                            </div>

                                            <div style="padding-top: 2em"></div>

                                            <div class="section-header">
                                                <div class="field is-grouped">
                                                    <div class="column is-paddingless">
                                                        <%= link_to "학교페이스북 방문하기", @school.fb , :target => "_blank", :class => 'button is-primary is-mobile-button is-width-half'%>
                                                    </div>
                                                </div>
                                                <div class="field is-grouped">
                                                    <div class="column is-paddingless">
                                                        <%= link_to "인스타그람 방문하기", @school.insta , :target => "_blank", :class => 'button is-primary is-mobile-button is-width-half'%>
                                                    </div>
                                                </div>
                                                <div class="field is-grouped">
                                                    <div class="column is-paddingless">
                                                        <%= link_to "학교홈페이지 방문하기", @school.web , :target => "_blank", :class => 'button is-primary is-mobile-button is-width-half'%>
                                                    </div>
                                                </div>
                                                <div class="field is-grouped">
                                                    <div class="column is-paddingless">
                                                        <%= link_to "동영상정보 확인하기", @school.youtube , :target => "_blank", :class => 'button is-primary is-mobile-button is-width-half'%>
                                                    </div>
                                                </div>
                                                <div class="field is-grouped">
                                                    <div class="column is-paddingless">
                                                        <%= link_to "등록신청 전체변경", edit_order_path(@order.id), :class => 'button is-black is-mobile-button is-width-half'%>
                                                    </div>
                                                </div>
                                            </div>

                            <% else %>

                                        <p class="title">
                                        <%= @order.extracoursename %>
                                        </p>
                                        <div>진행사항 : <%= @order_confirm.status %></div>
                                        <div style="padding-top: 1em"></div>
                                        <div> 
                                            <div class="field is-grouped">
                                                <div class="column is-paddingless">
                                                    <%= link_to "등록신청 전체변경", edit_order_path(@order.id), :class => 'button is-black is-mobile-button is-width-half'%>
                                                </div>
                                            </div>
                                        </div>

                            <% end %>
                            

                    <% else %>
                                    <div>
                                        <label><b>아직 선택하신 어학원이 없습니다.</b></label>
                                        <div style="padding-top: 1em"></div>
                                        <p>어학원 탭에서, 자신한테 맞는 어학원을 찾아보세요. 심층상담이 필요하시다면 메인페이지로 가서 심층상담 신청서를 작성해주세요. 유학원 상담받아보시고 연락주셔도 됩니다. -리피 </p>

                                    </div>
                                    <div style="padding-top: 1em"></div>

                    <% end %>

                </div>



                
                <div class="column is-6 is-5-fullhd is-fullhd">
                   
                    <div style="padding-top: 2em"></div>
                    <div>
                        <label><b> 입국계획 </b></label>
                    </div>
                    <div style="padding-top: 1em"></div>
                    <div class="table-flip-scroll tableFixHead">
                        <table class="font-sqaure">
                            <thead>
                                <tr>
                                    <th>입국일정</th>
                                    <th>입국항공편</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <% if @order %>
                                        <th>
                                            <% if @order.arrival %>
                                                <%= @order.arrival.to_formatted_s(:db) =%>
                                            <% else %>
                                                입국일정이 결정되지 않았습니다.
                                            <% end %>
                                        </th>
                                        <th>
                                            <% if @order.flightinfo.to_s.length() > 0 %>
                                                <%= @order.flightinfo =%>
                                            <% else %>
                                                항공정보가 입력되지 않았습니다.
                                            <% end %>
                                        </th>
                                    <% else %>
                                        <th>
                                            입국일정이 결정되지 않았습니다.
                                        </th>
                                        <th>
                                            항공정보가 입력되지 않았습니다.
                                        </th>
                                    <% end %>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                    <% if @order %>
                    <div style="padding-top: 1em"></div>
                    <div>
                        <label><b>입국계획 다시 입력하기</b></label>
                    </div>
                    <div style="padding-top: 1em"></div>
                    <p>변경하신 후에는 저에게(리피) 반드시 공지해주세요.</p>
                    <div style="padding-top: 1em"></div>
                    <div>
                        <%= form_with(model: @order, local: true) do |form| %>
                        <div class="field">
                            아일랜드 예상도착일과 시각 / 홈스테이 입주일 (주말 입주 원칙)<br />
                            비행기가 정해지지 않았다면 예상일로 남겨주세요.
                            <div class="select">
                                <%= form.datetime_select :arrival, :ampm => true, :minute_step => 10, :min => Date.today %>
                            </div>
                        </div>
                        <div class="field">
                            아일랜드 도착비행기 편 / 미정이라면 빈칸으로 남겨두세요. (예, BA2100 )<br />
                            <%= form.text_field :flightinfo, :class => 'input' %>
                        </div>
                        <div class="actions">
                            <%= form.submit '입국정보입력' , :class => 'button is-dark is-fullwidth' %>
                        </div>
                        <% end %>
                    </div>
                    <div style="padding-top: 2em"></div>
                </div>
                <% else %>





                <% end %>
            </div>
        </section>
    </div>
    <div class="columns is-desktop is-gapless">
        <div class="column">
            <section class="hero section is-hero is-info height-100">
                <div class="columns is-vcentered">
                    <div class="column is-12 is-5-fullhd is-offset-1-fullhd">
                        <div class="section-header">
                            <div style="padding-top: 1em"></div>
                            <h2 class="title is-2 is-spaced">어학원 등록 신청<span class="spacer is-horizontal is-05"></span></h2>
                            <h2 class="subtitle is-5">리피회원만 사용가능한 메뉴입니다. 가장 저렴한 등록을 도와드립니다.</h2>
                            <div class="field is-grouped">
                                <div class="control">
                                    <%= link_to "어학원 등록 신청하기", new_order_path, :class => 'button is-black'  %>
                                </div>
                            </div>
                            <div style="padding-top: 1em"></div>
                        </div>
                    </div>
                   
                </div>
            </section>
        </div>
        <div class="column">
            <section class="hero section is-hero is-success height-100">
                <div class="columns is-vcentered">
                    <div class="column is-12 is-5-fullhd is-offset-1-fullhd">
                        <div class="section-header">
                            <div style="padding-top: 1em"></div>
                            <h2 class="title is-2 is-spaced">사용자 계정 관리<span class="spacer is-horizontal is-05"></span></h2>
                            <h2 class="subtitle is-5">사용자의 계정정보를 관리하실수 있습니다. 비밀번호를 잊으셨다면, 이메일로 비밀번호를 다시 설정이 가능합니다.</h2>
                            <div class="field is-grouped">
                                <div class="control">
                                    <%= link_to '나의 계정관리하기', edit_user_registration_path, :class => 'button is-black' %>
                                </div>
                            </div>
                            <div style="padding-top: 1em"></div>
                        </div>
                    </div>
                    
                </div>
            </section>
        </div>
    </div>
    <% if false %>
    <% for attribute in @order.attributes.keys %>
    <p>
        <%= attribute.humanize %>
        <%= @order.attributes[attribute].to_s %>
    </p>
    <% end %>
    <%= link_to 'Edit', edit_order_path(@order) %> |
    <%= link_to 'Back', orders_path %>
    <td>
        <%= link_to 'Destroy', @order, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
    <% end %>
</main>

