<main class="app-content">

<div class="is-gapless">

  <div class="">
    <section class="hero section is-hero">
        <div class="columns is-vcentered">
            <div class="column is-6 is-5-fullhd is-offset-1-fullhd">
               <div class="section-header">
                  <h2 class="title is-2 is-spaced">나의 아일랜드 어학원<span class="spacer is-horizontal is-05"></span></h2>
                  <h2 class="subtitle is-5">진행상황을 확인할 수 있으며, 필요시에는 정보를 변경할 수 있습니다.</h2>
                  <div class="field is-grouped">
                    <div class="control"> <%= link_to "도착일정 변경하기", new_order_path, :class => 'button is-black'  %>
                    </div>
                  </div> 
               </div>              
            </div>
            <div class="column is-6 is-5-fullhd is-offset-0-fullhd">
             <!--  <div class="section-media">  -->

                <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <!-- <div class="media-left">
                        <figure class="image is-48x48">
                          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                        </figure>
                      </div> -->
                      <div class="media-content">
                        <p class="title is-4">
                          <% if @order %>
                              <%= @order.school.to_s %>
                          <% else %>
                              어학원 미선택
                          <% end %>
                        <div class="is-5">
                          <table class="school-info-t" >
                            <!-- <tr>
                              <th>Firstname</th>
                              <th>Lastname</th>
                            </tr> -->
                            <tr class="">
                              <td class=""><p>🛫 나의 아일랜드 도착일정 : </p></td>
                              <td class="text-right"><% if @order %>
                                                        <%= @order.arrival.strftime("%F %H:%M").to_s %>
                                                    <% else %>
                                                        미정
                                                    <% end %></td>
                                                    
                            </tr>
                           <!--  <tr>
                              <td class=""><p>📈 유학원 정상가격 : </p></td>
                              <td class="text-right ">3,800,400 ₩</td>
                            </tr>
                            <tr>
                              <td class=""><p>📉 리피회원가격 :</p></td>
                              <td class="text-right "> 항상 상기가격보다 저렴하게 진행됩니다.</td>
                            </tr> -->
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

             <!--  </div> -->
            </div> 
        </div>
    </section>
  </div>
</div>





<div class="columns is-desktop is-gapless">
  <div class="column">

    <section class="hero section is-hero is-info height-100">
        <div class="columns is-vcentered">
            <div class="column is-12 is-5-fullhd is-offset-1-fullhd">
               <div class="section-header">
                <h2 class="title is-2 is-spaced">어학원 등록 신청<span class="spacer is-horizontal is-05"></span></h2>
                <h2 class="subtitle is-5">리피회원만 사용가능한 메뉴입니다. 가장 저렴한 등록을 도와드립니다.</h2>
                <div class="field is-grouped">
                  <div class="control"> <%= link_to "어학원 등록 신청하기", new_order_path, :class => 'button is-black'  %>
                  </div>
                </div> 
               </div>              
            </div>
          <!-- <div class="column is-12 is-5-fullhd is-offset-1-fullhd">
            <div class="section-header">
              <h2 class="title is-2 is-spaced">어학원 등록 신청하기<span
                                            class="spacer is-horizontal is-05"></span>
              </h2>
              <h2 class="subtitle is-5">리피회원만 사용가능한 메뉴입니다. 가장 저렴한 등록을 도와드립니다.</h2>

              <div class="field is-grouped">
                <div class="control"> <%= link_to "어학원 등록 신청하기", destroy_user_session_path, method: :delete, :class => 'button is-black'  %>
                </div>
              </div> 
            </div>
          </div>
 -->
        </div>
    </section>

    
  </div>
  <div class="column">
      <section class="hero section is-hero is-success height-100">
          <div class="columns is-vcentered">
              <div class="column is-12 is-5-fullhd is-offset-1-fullhd">
                <div class="section-header">
                  <h2 class="title is-2 is-spaced">사용자 계정 관리<span class="spacer is-horizontal is-05"></span></h2>
                  <h2 class="subtitle is-5">사용자의 계정정보를 관리하실수 있습니다. 비밀번호를 잊으셨다면, 이메일로 비밀번호를 다시 설정이 가능합니다.</h2>
                  <div class="field is-grouped">
                    <div class="control"> <%= link_to '나의 계정관리하기', edit_user_registration_path, :class => 'button is-black' %>
                    </div>
                  </div> 
                </div>
              </div>
 
            <!-- <div class="column is-6 is-5-fullhd is-offset-1-fullhd">
              <div class="section-header">
                <h2 class="title is-2 is-spaced">사용자 계정 관리<span
                                              class="spacer is-horizontal is-05"></span>
                </h2>
                <h2 class="subtitle is-5">리피의 아일랜드는 회원제로 운영하고 있습니다. 텍스트 상담은 가입없이 무료로 하실수 있습니다.</h2>

                <div class="field is-grouped">
                  <div class="control"> <%= link_to '나의 계정관리하기', edit_user_registration_path, :class => 'button is-black' %>
                  </div>
                </div> 
              </div>
            </div> -->
           
          </div>
      </section>

  </div>
</div>


<% if @order %>
  <% for attribute in @order.attributes.keys %>
    <p><%= attribute.humanize %> <%= @order.attributes[attribute].to_s %></p>
  <% end %>


  <%= link_to 'Edit', edit_order_path(@order) %> |
  <%= link_to 'Back', orders_path %>
  <td><%= link_to 'Destroy', @order, method: :delete, data: { confirm: 'Are you sure?' } %></td>

<% end %>


</main>