<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>리피의 아일랜드 [혼자서 어학연수]</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>   
    <script>
    <% if flash[:alert] %>
    alert(" <%= flash[:alert] %> ");
    <% flash[:alert] = nil %>
    <% flash.clear %>
    <% end %>
    </script>
    <%= favicon_link_tag asset_path('favicon.ico') %>
</head>

<body class="<%= controller_name %> <%= action_name %>">
    <div class="app-container">
        <header class="app-header">
            <nav class="navbar level is-mobile is-fixed-top">
                <table>
                    <tbody class="is-paddingless font-sqaure">
                        <tr>
                            <td class="has-text-centered padding-sm ">
                                <div>
                                    <p class="">홈</p>
                                    <p class="title">
                                        <%= link_to root_path, :class => "nav-icon" do %>
                                            <i class="fa fa-undo"></i>
                                        <% end %>
                                    </p>
                                </div>
                            </td>
                            <td class="has-text-centered padding-sm">
                                <div>
                                    <p class="">조언</p>
                                    <p class="title">
                                        <%= link_to posts_path, :class => "nav-icon" do %>
                                            <i class="fa fa-stack-exchange"></i>
                                        <% end %>
                                    </p>
                                </div>
                            </td>
                            <td class="has-text-centered padding-sm">
                                <div>
                                    <p class="">어학원</p>
                                    <p class="title">
                                        <%= link_to courses_path, :class => "nav-icon" do %>
                                            <i class="fa fa-graduation-cap"></i>
                                        <% end %>
                                    </p>
                                </div>
                            </td>
                            <td class="has-text-centered padding-sm">
                                <div>
                                    <p class="">내공간</p>
                                    <p class="title">
                                        <%= link_to profile_userdetail_path, :class => "nav-icon" do %>
                                            <i class="fa fa-street-view"></i>
                                        <% end %>
                                    </p>
                                </div>
                            </td>
                            <td class="has-text-centered padding-sm">
                                <div>
                                    <% if user_signed_in? %>
                                        <p class="">로그아웃</p>
                                        <p class="title">
                                            <%= link_to destroy_user_session_path, method: :delete, :class => "nav-icon" do %>
                                                <i class="fa fa-gears"></i>
                                            <% end %>
                                        </p>
                                    <% else %>
                                        <p class="">로그인</p>
                                        <p class="title">
                                            <%= link_to new_user_session_path, :class => "nav-icon" do %>
                                                <i class="fa fa-gears"></i>
                                            <% end %>
                                        </p>
                                    <% end %>
                                    
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <div class="level-left">
                    <div class="navbar-item">
                        <a class="brand" href="/">
                            <div class="brand-content">
                                <div class="brand-title">리피의 아일랜드</div>
                                <div class="brand-subtitle">유학원 없이 혼자서 어학연수</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="level-right">
                    <% if user_signed_in? %>
                    <div class="buttons">
                        <%= link_to '💁🏻‍♀️ 나의아일랜드', profile_userdetail_path, :class => 'button is-warning' %>
                        <%= link_to "🔐", destroy_user_session_path, method: :delete, :class => 'button is-black'  %>
                    </div>
                    <% else %>
                    <div class="buttons">
                        <%= link_to '💁🏻‍♀️ 나의아일랜드', profile_userdetail_path, :class => 'button is-warning' %>
                        <%= link_to "🔑 ", new_user_session_path, :class => 'button is-black'  %>
                    </div>
                    <% end %>
                </div> -->
            </nav>
        </header>
        <%= yield %>

        
        <div id="a1"></div>
        <footer id="footer" class="section has-background-black">
          

            <div class="container is-fullhd">
                <div class="container">
                    <div class="">
                            <!-- <div class="column is-narrow has-text-light" style="width: 300px;">
                            <img alt="FTW logo" src="./FTW - blockchain lottery platform on NEO_files/ftw_mark.png" style="max-height: 1.75rem;"><br> -->
                            
                            <!-- <a class="has-text-light" href="mailto:info@ftwcoin.io">Info@ftwcoin.io</a></div> -->
                       <!--  </div> -->
                    </div>
                    <div class="column">
                        <div class="columns ">
                            <div class="column">
                                <div class="centerme">
                                    <%= image_tag("cubegreen.png", height: '48', width: '48') %>
                                    <h6 class="font-weight-400 title is-5 font-namsan has-text-white" id="demo">
                                    <script type="text/javascript">
                                        var date = new Date();
                                        document.getElementById("demo").innerHTML = "2015 ~ " + date.getFullYear() + " ©  리피"
                                    </script></h6>
                                    <ul>
                                    <div class="has-text-light content font-namsan">356 South Circular Rd, D8 Ireland<br>+353 87 2119 531<br>liffeydublin@naver.com</div>
                                        <!-- <li><a class="font-weight-400 has-text-light" target="_blank" href="mailto:info@ftwcoin.io">Contact</a></li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="column">
                                <div class="centerme">
<!--                                     <h6 class="font-weight-400 title is-4 has-text-light">&nbsp</h6>
 -->                                    <ul>
                                        <li><a class="font-namsan font-weight-400 has-text-light" target="_blank" href="https://blog.naver.com/b1uedays_">리피의 블로그</a></li>
                                        <li><a class="font-namsan font-weight-400 has-text-light" target="_blank" href="https://www.instagram.com/liffeydublin/">리피의 인스타그람</a></li>
                                        <li><a class="font-namsan font-weight-400 has-text-light" target="_blank" href="https://wiki.liffeyireland.com/wiki/Liffeywiki:%EC%86%8C%EA%B0%9C">리피의 아일랜드 소개</a></li>
                                        
                                        <!-- <li><a class="font-weight-400 has-text-light" target="_blank" href="https://next.ftwcoin.io/solutions/raffle">Create raffle</a></li>
                                        <li><a class="font-weight-400 has-text-light" target="_blank" href="https://next.ftwcoin.io/ecosystem">Ecosystem</a></li> -->
                                    </ul>
                                </div>
                            </div>
                          
                            <div class="column">
                                <div class="centerme">
                                    <!-- <h6 class="font-weight-400 title is-6 has-text-light">Information</h6> -->
                                    <ul>
                                        <li><a class="font-namsan font-weight-400 has-text-light" target="_blank" href="https://wiki.liffeyireland.com/wiki/%EC%95%84%EC%9D%BC%EB%9E%9C%EB%93%9C_%EC%96%B4%ED%95%99%EC%97%B0%EC%88%98%EB%A5%BC_%EC%9C%84%ED%95%B4_%ED%95%84%EC%9A%94%ED%95%9C_%EA%B2%83%EB%93%A4">어학연수 준비물</a></li>
                                        <li><a class="font-namsan font-weight-400 has-text-light" target="_blank" href="https://wiki.liffeyireland.com/wiki/%EC%BD%94%ED%81%AC%EC%97%B0%EC%88%98%EA%B0%80%EC%9D%B4%EB%93%9C">코크연수 가이드</a></li>
                                        <li><a class="font-namsan font-weight-400 has-text-light" target="_blank" href="https://wiki.liffeyireland.com/wiki/%EC%96%B4%ED%95%99%EC%97%B0%EC%88%98%EC%97%90_%EB%93%9C%EB%8A%94_%EB%B9%84%EC%9A%A9">어학연수에 드는비용</a></li>
                                        <li><a class="font-namsan font-weight-400 has-text-light" target="_blank" href="https://wiki.liffeyireland.com/wiki/Liffeywiki:%EB%A6%AC%ED%94%BC%EC%9D%98_%EC%95%84%EC%9D%BC%EB%9E%9C%EB%93%9C#.EC.95.84.EC.9D.BC.EB.9E.9C.EB.93.9C_.ED.95.99.EC.83.9D.EB.B9.84.EC.9E.90">아일랜드 학생비자</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                           <div class="column">
                                <div class="centerme">
                                    <!-- <h6 class="font-weight-400 title is-6 has-text-light">Community</h6> -->
                                    <ul>
                                        <li><a rel="noopener noreferrer" target="_blank" class="font-namsan font-weight-400 has-text-light" href="https://wiki.liffeyireland.com/wiki/%EC%96%B4%ED%95%99%EC%9B%90%EB%B0%A9%ED%95%99">어학원 방학 ?</a></li>
                                        <li><a rel="noopener noreferrer" target="_blank" class="font-namsan font-weight-400 has-text-light" href="https://wiki.liffeyireland.com/wiki/%EC%9C%A0%ED%95%99%EC%83%9D%EB%B3%B4%ED%97%98">건강보험이란 ?</a></li>
                                        <li><a rel="noopener noreferrer" target="_blank" class="font-namsan font-weight-400 has-text-light" href="https://wiki.liffeyireland.com/wiki/%EA%B3%B5%EC%9D%B8%EC%9D%B8%EC%A6%9D%EC%8B%9C%ED%97%98_-_End_of_course_Exam">공인인증시험 ?</a></li>
                                        <!-- <li><a rel="noopener noreferrer" target="_blank" class="font-weight-400 has-text-light" href="https://github.com/ForTheWinn">Github</a></li>
                                        <li><a rel="noopener noreferrer" target="_blank" class="font-weight-400 has-text-light" href="https://twitter.com/forthewincoin">Twitter</a></li> -->
                                    </ul>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-top: 1em"></div>
        </footer>

</body>

</html>
